---
import { literal } from 'astro:schema';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me';

const identity = {
    firstName: 'Lukas',
    country: 'Germany',
    occupation: 'Developer',
    hobbies: ['coding', 'Robotic', 'Smartphones', 'talking', 'sport'],
};

const skills = ['HTML', 'Css', 'JavaScript', 'React', 'Astro'];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro site!</h2>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
                </li>
            )
        }
        <!-- Optionater tenärer Ausdrück für den fall dass es auch nur ein Hobby geben kann oder 0. -->

        <!-- {identity.hobbies.length >=2 ? ( 
                    <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</li> 
                ) :  identity.hobbies.length > 0 ? (
                    <li>My hobbie is {identity.hobbies[0]}</li> 
                ) : (
                    <li>Do you realy have no hobbies ?</li>
                )} -->
    </ul>

    <p>My skills are :</p>

    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to learn Astro</p>}
    {finished && <p>I ve finished the Tutorial</p>}
    {goal === 3 ? <p>My goal is finished in 3 Days</p> : <p>My goal is not 3 Days</p>}
</BaseLayout>
